* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

.editor {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 2;
    white-space: pre;
}

.split {
	display: flex;
	flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}


#preview {
	height: 100vh;
	width: 100%;
}
